GOOGLE_CLOUD_PROJECT=your-google-cloud-project-id
GOOGLE_CLOUD_LOCATION=your-google-cloud-location
GCS_BUCKET_NAME=your-gcs-bucket-name
RAG_CORPUS_DISPLAY_NAME="Your-RAG-Corpus-Display-Name"
RAG_CORPUS_DESCRIPTION="Your RAG Corpus Description"
GCP_SECRET_ID="YOUR_GCP_SECRET_ID"
GEMINI_MODEL_NAME="gemini-2.5-flash"
SERVICE_ACCOUNT_ID=your-rag-ingestor-sa
CLOUD_FUNCTION_NAME=your-rag-ingestor-function
